<!DOCTYPE html>
<html>
<head>
  <title>MovieTicketing /home/sahu/my_rails_work/Movie_Ticketing/app/views/layouts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
